# === Project-specific files ===
# Project outputs
out/
*.png
*.pdf
*.svg

# Logs
*.log

# Jupyter (if you do any notebook prototyping)
.ipynb_checkpoints/

# === Python ===
__pycache__/
*.py[cod]
*.pyo

# Packaging / tooling
dist/
build/
*.egg-info/
.eggs/

# Test / tooling caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# === Virtualenv ===
**/venv/
**/.venv/

# === Editor directories and files ===
.vscode
.idea/
**/.idea/
*.code-workspace

# === OS-specific files ===
.DS_Store
Thumbs.db