name: Check python Formatting

on:
  push:
    paths:
      - "*.py"

jobs:
  format:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-black-22.10.0
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install black==22.10.0

      - name: Run black (check only)
        run: black --check --line-length 79 .