name: Check python Linting

on:
  push:
    paths:
      - "*.py"

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-flake8-6.1.0
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8==6.1.0

      - name: Run flake8
        run: flake8 backend/